$xs: 0;
$xs-1: 320px;
$xs-2: 375px;
$xs-3: 426px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$lg-2: 1064px;
$xl: 1200px;
$xxl: 1400px;
$xxl-2: 1441px;

///////////////////////////////////////
//Colors
//Brand Color
$color-primary: #6A994E ;
$color-secondary: #F2E8CF;

//Text Color
$color-text: #4C4C4C;

//Base Color
$color-black: #1E1E1E;
$color-white: #ffffff;

///////////////////////////////////////
// Typography
$font-family-primary: 'Satoshi', sans-serif;
$font-family-secondary: 'Source Sans Pro',  sans-serif;